@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
 
 *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
   }


body {background: rgb(231, 231, 231);}

 

.marshall{width: 180px; margin-top: -65px;  }


 

.in-flex{min-width: 250px;}





 

.container-box { display: flex;
                 flex-wrap:wrap;
                 justify-content: center;
               
            
                }


.container-box {

   text-decoration: none;
   color: #000;
   margin: auto;
    
}

.box{width: 250px;
      height:  380px;
     padding: 20px;
     margin: 25px;
     background:rgb(226, 226, 226) 20px;
     text-align: center;
     position: relative;
    overflow: hidden;
     cursor: pointer;
     transition: all 300ms;
     font-size: 45px;
      

     
   }

   .titlex{font-size: 36px;}
 


   /**/
   .title11{font-size: 48px solid black;}

   .ululette{width: 220px; margin-top: -70px; }
    
    .box11  {width: 350px; height: 550px; margin:auto; background: #e04d3b; color:white; 
           text-decoration: none }
    
   .ululette1 {width: 480px; margin-top: -50px; margin-left: -50px; 
   
   }

   /**/


.title12{font-size: 48px solid black;}

.marshal{width: 180px; margin-top: -70px;}
 
 .box12  {width: 350px; height: 550px; margin:auto; background: rgb(30, 63, 245); color:white; 
        text-decoration: none }
 
.marshall {width: 280px; margin-top: -70px; }

/**/

.title13{font-size: 48px solid black;}

.peppa1{width: 175px; margin-top: -60px;}

.box13  {width: 350px; height: 550px; margin:auto; background: #78c76e; color:white; 
   text-decoration: none }

.peppa3{width: 320px; margin-top: -75px; margin-left: -15px; }

/**/

.title14{font-size: 48px solid black;}

.mrbean1{width: 190px; margin-top: -60px;}

.box14  {width: 350px; height: 550px; margin:auto; background: #c21310; color:#f8e3d2; 
   text-decoration: none }

.mrbean2{width: 320px; margin-top: 55px; }

ul{padding: 5px;  top:50%; left: 50%;   
    transform: translateX(20%) translateY(40%);}

ul li{list-style: none; float: left;
       transition: 1s;}

       ul:hover li{transform: rotateY(360deg);}





 /**/

 .title15{font-size: 48px solid black;}

.rocky1{width: 220px; margin-top: -40px; margin-left: -5px;}

.box15  {width: 350px; height: 550px; margin:auto; background: #f8b4a1; color:#f7f1ec; 
   text-decoration: none }

.rocky2{width: 480px; margin-top: -45px;margin-left: -50px;}

 /**/

 .title16 {font-size: 48px solid black;}

 .minnie1{width: 200px; margin-top: -40px; margin-left: -5px;}
 
 .box16  {width: 350px; height: 550px; margin:auto; background: #fdeaac; color:#ec6569; 
          text-decoration: none }

.minnie2 {width: 400px; margin-top: -45px; margin-left: -65px;}

    /**/


    .Title17{font-size: 40px ; margin-left: -10px;}

    .vampirina1{width: 160px; margin-top: -60px; margin-left: -5px;}
    
    .box17  {width: 250px; height: 550px; margin:auto; background: #d90011; color:#f5c6c8; 
       text-decoration: none }

   .vampirina2{width: 300px; margin-top: -60px; margin-left: -30px;margin-bottom: -5px;}    

/**/

.Title18{font-size: 32px ; margin-left: -10px;}

.lasirenita1{width: 160px; margin-top: -60px; margin-left: -5px;}

.box18  {width: 250px; height: 550px; margin:auto; background: #d90011; color:#f5e9e9; 
   text-decoration: none }

.lasirenita2{width: 300px; margin-top: -50px; margin-left: -20px;margin-bottom: -5px;}


/**/


#imagen0{
   width: 400px;
   transition: width 4s;}

#imagen0:hover{width: 600px;}


#container0{
   width: 400px;
   transition: width 4s;}

#container0:hover{width: 600px;}






#imagen1{
   width: 280px;
   transition: width 2s;}

#imagen1:hover{width: 310px;}

#imagen2{
   width: 300px;
   transition: width 2.5s;}

#imagen2:hover{width: 350px;}

#imagen3{
   width: 300px;
   transition: width 2.5s;}

#imagen3:hover{width: 350px;}


#imagen4{
   width: 400px;
   transition: width 2s;}

#imagen4:hover{width: 500px;}


#imagen5{
   width: 400px;   
   transition: width 3s;}

#imagen5:hover{width: 600px; }

#imagen6{
   width: 303px;   
   transition: width 3s;}

#imagen6:hover{width: 400px; }


#imagen7{
   width: 300px;   
   transition: width 3s;}

#imagen7:hover{width: 350px; }


 /*burbujas*/

 .burbuja{
            position: absolute
            ; bottom: -150%;
            
         animation: burbujas 3s linear infinite;
         }

.burbuja:nth-child(1){font-size: 30px; left: 5%;
                      animation-duration: 7s; animation-delay: 3s;}

.burbuja:nth-child(2){font-size: 50px; left: 35%;
                       animation-duration: 5s; animation-delay: 5s;}
                       
.burbuja:nth-child(3){font-size: 30px; left: 85%;
   animation-duration: 6s; animation-delay: 2s;}
   
.burbuja:nth-child(4){font-size: 35px; left: 65%;
   animation-duration: 7s; animation-delay: 2.3s;}
   
.burbuja:nth-child(5){font-size: 30px; left: 55%;
   animation-duration: 4s; animation-delay: 3.8s;}

   .burbuja:nth-child(6){font-size: 50px; left: 25%;
      animation-duration: 9s; animation-delay: 3.5s;}

      .burbuja:nth-child(7){font-size: 25px; left: 50%;
         animation-duration: 10s; animation-delay: 2.5s;}

         .burbuja:nth-child(8){font-size: 38px; left: 15%;
            animation-duration: 6s; animation-delay: 0.5s;}

            .burbuja:nth-child(9){font-size: 28px; left: 47%;
               animation-duration: 8s; animation-delay: 1s;}

               .burbuja:nth-child(10){font-size: 40px; left: 72%;
                  animation-duration: 6s; animation-delay: 3s;}



 
         @keyframes burbujas{
            0%{
                   bottom: 0;
                   opacity: 0;


            } 30%{transform: translateX(30px);}
            50%{  opacity: .2; 


            }
             100%{
                bottom: 100vh;
                opacity: 0;

             }
         }

